/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    font-family: "Special Gothic", sans-serif;
    background-color: #F5DFBA;
    // background-color: #FFC36B;
}

app-root {
    position: relative;
}